.container {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    background-color: #eee;
    padding: 20px;
}  

.button-container {
    min-height: 60px;
    display: flex;
    align-items: flex-end;
}
